* {
    margin: 0;
    padding: 0;
}

body {
    /* max-width: 750px; */
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

article,
div,
section,
span,
text,
view {
    line-height: 1.6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

#app {
    font-family: Avenir, Helvetica, PingFangSC-Regular, PingFangSC-Semibold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #333;
    font-size: 30px;
}

.container {
    /*position: absolute;
    top: 14px;
    right: 0;
    bottom: 0;
    left: 0;*/
    width: 100%;
    padding: 14px 20px 137px 20px;
    text-align: left;
}

.header {
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
}

.header .icon {
    width: 32px;
    height: 32px;
}

.header .icon img {
    height: 100%;
}

.h1 {
    font-weight: bold;
    height: 64px;
    line-height: 64px;
    font-size: 34px;
    text-align: left;
}

.h1_title_bold {
    font-size: 32px;
    line-height: 40px;
    font-weight: bold;
}

.txt__blue {
    color: #1E9DF5;
}

.txt__red {
    color: #FF5656;
}

.h1_title_total {
    margin-right: 37px;
}

.result-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.result-types {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 82px;
    margin-top: 20px;
    margin-bottom: 28px;
    background: rgba(255, 255, 255, 1);
    border: 1PX solid rgba(229, 229, 229, 1);
    border-radius: 5px;
}

.result-item {
    list-style: none;
}

.result-list .result-item {
    flex: 0 0 20%;
}

.result-circle {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    color: #fff;
    font-size: 34px;
    line-height: 80px;
    text-align: center;
    margin: 20px 77px 20px 0;
}

.result-circle:nth-child(5n) {
    margin-right: 0;
}

.result-circle:last-child {
    margin-right: auto;
}


/* .result-circle:last-child:nth-child(5n - 1) {
  margin-right: calc((100% - 5px) / 4);
}
.result-circle:last-child:nth-child(5n - 2) {
  margin-right: calc((100% - 5px) / 4);
}
.result-circle:last-child:nth-child(5n - 3) {
  margin-right: calc(60% + (100% - 5px) / 4);
} */

.types-circle {
    display: inline-block;
    margin-right: 12px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
}

.types-text {
    color: #333;
}

.question article {
    text-align: left;
    max-height: 595px;
    overflow-y: scroll;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0));
    padding: 20px;
}

.answer{
    display: block;
    margin-top: 65px;
}

.answer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.answer-list li {
    box-sizing: border-box;
    list-style: none;
    height: 110px;
    background: rgba(245, 245, 245, 1);
    border-radius: 10px;
    display: block;
    line-height: 110px;
    padding: 0 40px;
    text-align: left;
    margin-bottom: 20px;
}

.answer-list li.active {
    color: #1E9DF5;
    background: rgba(232, 245, 254, 1);
    border: 1PX solid rgba(30, 157, 245, 1);
}
.answer-list li.act {
    color: #FF5656;
    background:rgba(255,238,236,1);
    border:1PX solid rgba(252,119,102,1);
}

.answer .inputs {
    width: 100%;
    min-height: 110px;
    max-height: 440px;
    box-sizing: border-box;
    padding: 40px;
    background: rgba(245, 245, 245, 1);
    border: 1PX solid rgba(229, 229, 229, 1);
    /*no*/
    border-radius: 10px;
}

.uploads {
    width: 250px;
    height: 250px;
    background: rgba(245, 245, 245, 1);
    border: 1PX solid rgba(229, 229, 229, 1);
    /*no*/
    border-radius: 10px;
    text-align: center;
    margin-bottom: 80px;
}

.uploads .camera {
    margin: 83px auto 0 auto;
    width: 69px;
    height: 59px;
}

.uploads p {
    color: #999;
}

.selector {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border: 1PX solid #DCDCDC;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}
.selector .th {
    background-color: #E5E5E5;
}
.selector .th:nth-child(1) {
    border-right: 1PX solid #DCDCDC;
}
.selector .s {
    color: #1E9DF5;
    border-right: 1PX solid #DCDCDC;
}
.selector .r {
    color: #FF5656;
}
.selector li {
    list-style: none;
    width: 50%;
    height: 90px;
    line-height: 90px;
    box-sizing: border-box;
}

footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 14px 20px 51px 20px;
    border-top: 1px solid #e5e5e5;
    /*no*/
    background-color: #fff;
    text-align: center;
}

footer .liner {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 1);
    border: 1PX solid rgba(229, 229, 229, 1);
    /*no*/
}

footer .links {
    width: 200px;
    height: 72px;
}

footer .link_next {
    cursor: pointer;
    flex: 1;
    height: 72px;
}

.btn_red {
    margin-right: 10px;
    line-height: 72px;
    height: 72px;
    background-color: #FC7766;
    border-radius: 36px;
    color: #fff;
}

.btn_gray {
    margin-right: 10px;
    line-height: 72px;
    height: 72px;
    background-color: #eeeeee;
    border-radius: 36px;
    color: #666;
}

.btn_blue {
    line-height: 72px;
    height: 72px;
    background-color: #1E9DF5;
    border-radius: 36px;
    color: #fff;
}