* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 625%;
}

body {
    background-color: #f8f8f8;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

#app {
    font-family: Avenir, Helvetica, PingFangSC-Regular, PingFangSC-Semibold;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #333;
    font-size: .3rem;
}

.container {
    position: absolute;
    top: .14rem;
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: .20rem;
    padding-bottom: 1.37rem;
    padding-left: .20rem;
}

.header {
    width: 100%;
    height: .82rem;
    display: flex;
    align-items: center;
}

.header .icon {
    width: .32rem;
    height: .32rem;
}

.header .icon img {
    height: 100%;
}

.h1 {
    font-weight: bold;
    height: .64rem;
    line-height: .64rem;
    font-size: .34rem;
    text-align: left;
}

.h1_title_bold {
    font-size: .32rem;
    line-height: .40rem;
    font-weight: bold;
}

.span__blue {
    color: #1E9DF5;
}

.h1_title_total {
    margin-right: .37rem;
}

.question article {
    height: 595px;
    overflow-y: scroll;
}

.answer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5.4rem;
}

.answer li {
    list-style: none;
    height: 1.10rem;
    background: rgba(245, 245, 245, 1);
    border-radius: .10rem;
    display: block;
    line-height: 1.1rem;
    padding: 0 .48rem;
    text-align: left;
}

.answer li.active {
    color: #1E9DF5;
    background: rgba(232, 245, 254, 1);
    border: 1px solid rgba(30, 157, 245, 1);
}

footer {
    position: fixed;
    right: 0;
    bottom: .51rem;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: .14rem .20rem 0 .20rem;
    border-top: 1px solid #e5e5e5;
    /* background-color: #fff; */
}

footer .liner {
    width: 100%;
    height: 1px;
    background: rgba(0, 0, 0, 1);
    border: 1px solid rgba(229, 229, 229, 1);
}

footer .links {
    width: 2rem;
    height: .72rem;
}

footer .link_next {
    flex: 1;
    height: .72rem;
}

.btn_red {
    margin-right: .10rem;
    line-height: .72rem;
    height: .72rem;
    background-color: #FC7766;
    border-radius: .36rem;
    color: #fff;
}

.btn_gray {
    margin-right: .10rem;
    line-height: .72rem;
    height: .72rem;
    background-color: #eeeeee;
    border-radius: .36rem;
    color: #666;
}

.btn_blue {
    line-height: .72rem;
    height: .72rem;
    background-color: #1E9DF5;
    border-radius: .36rem;
    color: #fff;
}